div{
	display: inline-block;
	border: 5px solid black;
	width: 120px;
	height: 120px;
	margin: 10px;
	background-size: 100px;
	background-repeat: no-repeat;
}

div:nth-child(1){
	background-image: url("../imagen/puntonegro.png");
	background-position: center;
}
div:nth-child(2){
	background-image: url("../imagen/puntonegro.png"), url("../imagen/puntonegro.png");
	background-position: -120% 0%, 220% 100%;
}
div:nth-child(3){
	background-image: url("../imagen/puntonegro.png"), url("../imagen/puntonegro.png"), url("../imagen/puntonegro.png");
	background-position: -120% 0%, center, 220% 100%;
}
div:nth-child(4){
	background-image: url("../imagen/puntonegro.png"), url("../imagen/puntonegro.png"), url("../imagen/puntonegro.png"), url("../imagen/puntonegro.png");
	background-position: -120% 0%, 220% 0%, 220% 100%, -120% 100%;
}
div:nth-child(5){
	background-image: url("../imagen/puntonegro.png"), url("../imagen/puntonegro.png"), url("../imagen/puntonegro.png"), url("../imagen/puntonegro.png"), url("../imagen/puntonegro.png");
	background-position: center, -120% 0%, 220% 0%, 220% 100%, -120% 100%;
}
div:nth-child(6){
	background-image: url("../imagen/puntonegro.png"), url("../imagen/puntonegro.png"), url("../imagen/puntonegro.png"), url("../imagen/puntonegro.png"), url("../imagen/puntonegro.png"), url("../imagen/puntonegro.png");
	background-position: -120%, 220%, -120% 0%, 220% 0%, 220% 100%, -120% 100%;
}