*{
    border: 0;
    margin: 0;
    padding: 0;
}

/*Bordes*/
table{
    width: 80%;
    margin: 1% auto;
}
table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    padding: 0.25% 2%;
}

/*Cabecera*/
thead{
    text-align: center;
    color: blue;
    text-transform: uppercase;
    font-weight: bold;
}
.titulo{
    color: red;
    text-align: left;
    text-transform: uppercase;
}

/*Resaltado*/
td{
    font-weight: normal;
}

/*Tabla interior*/
table table{
    width: 99%;
    color: black;
}

table.interna td{
    font-weight: normal;
}
table.interna td, table.interna th{
    padding: 0 1%;
}

tr.total td{
    padding: 0;
    margin: 0;
    text-align: right;
}