
/* 
    Created on : 05-dic-2019, 19:10:50
    Author     : Amor Rodríguez <amor at marodriguezn@educa.jcyl.es>
   
*/
*{
	margin: 0;
	padding: 0;
	font-family: Comic Sans MS, cursive;
	text-decoration: none;
}

nav{
	text-align: center;
	background-color: grey;
}
nav ul li{
	display: inline-block;
}