body{
	font-family: sans-serif;
}
nav a{
	text-decoration: none;
}
header{
	text-align: center;
}
li:hover{
	color: white;
	background-color: darkgrey;
}
li{
	display: inline-block;
	padding-left: 2%;
	padding-right: 2%;
}
h3{
	padding: 1%;
}
h2:before{
	content: url(../../fontawesome/svgs/regular/newspaper.svg);
}
main{
	display: table;
	clear: both;
}
section{
	display: inline-block;
	width: 33%;
	box-sizing: border-box;
	padding: 0.25%;
}
/*section.locales{
	float: left;
}
section.internacional{
	float: center;
}
section.nacional{
	float: right;
}*/
article{
	border-radius: 5% 5%;
	background-color: grey;
	color: white;
}
div, footer address{
	color: black;
}
div.content figure{
	width: 120px;
	height: 120px;
	position: absolute;
	text-align: center;
	margin: 0;
}
figcaption{
	font-size: 9pt;
}
div div{
	margin-left: 125px;
}
footer address{
	text-align: right;
	margin-right: 20%;
	padding-bottom: 1.75%;
	margin-top: 2%;
}
body footer{
	text-align: center;
	font-size: 9pt;
}