*{
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

h1{
	text-align: center;
	margin: 20px;
}
a{
	text-decoration: none;
}
body{
	font-family: sans-serif;
}
nav{
	text-align: center;
	background-color: black;
	text-transform: uppercase;
	padding: 15px;
}
li{
	list-style: none;
	display: inline;
	padding: 15px;
}
li a:link{
	color: white;
}
nav li:visited{
	color: blue;
}
nav li:hover{
	background-color: darkgrey;
}
nav li:active{
	background-color: purple;
}
section{
	width: 33%;
	display: inline-block;
}

h2{
	text-align: center;
	margin: 2%;
	font-variant: small-caps;
}
h3{
	text-align: center;
	padding: 1%;
}
h3:link{
	color: purple;
}
h3:visited{
	color: thistle;
}
h3:hover{
	background-color: black;
	color: white;
}

article{
	background-color: gainsboro;
	margin: 5px;
	padding: 5px;
	height: 330px;
}
article address{
	font-size: 9pt;
	text-align: right;
	margin-top: 5%;
	margin-right: 5%;
}
footer address{
	text-align: center;
	font-size: 7pt;
	margin-top: 5px;
	background-color: gray;
	color: white;
}

h4{
	text-align: justify;
	padding: 2%;
}
p{
	text-align: justify;
	margin-left: 155px;
	font-size: 11pt;
	position: relative;
}
img{
	width: 150px;
	height: 200px;
	position: absolute;
}