/*Fondo*/
/*https://www.pullrequest.com/blog/how-to-implement-dark-mode-with-css-js/*/
body{
    background-color: gainsboro;
    background-image: var(--back-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

*{
    color: var(--text-color);
}

div, caption, table{
    background-color: var(--partial-background-color);
}

/*Links*/
a:hover{
    color: var(--hover-color);
}
a:visited{
    color: var(--visited-color);
}
a:link{
    color: var(--link-color);
}


[data-theme="day"]{
    --back-image: url(../images/fondocebra_claro.jpg);
    --text-color: black;
    --partial-background-color: rgb(255,255,255,0.5);
    --hover-color: red;
    --visited-color: royalblue;
    --link-color: magenta;
}

[data-theme="night"]{
    --back-image: url(../images/fondocebra_oscuro.jpg);
    --text-color: white;
    --partial-background-color: rgb(100,100,100,0.5);
    --hover-color: red;
    --visited-color: lightskyblue;
    --link-color: violet;
}

/*Bordes de table -en desuso-
table, th, td{
    border: 1px solid black;
}
*/