/*Limpieza de estilo*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*Fuentes*/
@font-face{
    font-family: Inconsolata;
    src: url(../fonts/Inconsolata/Inconsolata-Regular.ttf);
}
@font-face{
    font-family: InconsolataL;
    src: url(../fonts/Inconsolata/Inconsolata-Light.ttf);
}
*{
    font-family: Inconsolata, monospace;
}

/*Header*/
div.header{
    background-color: black;
    top: 0;
    width: 100%;
    margin-bottom: 0;
    display: block;
}

img.github{
    width: 40px;
    padding: 0.15%;
    filter: invert(100%);
}


/*Título*/
h1{
    text-align: center;
    padding: 0.75%;
}


/*Subtítulos y Unidades*/
h3, caption{
    text-align: center;
    font-weight: bold; 
    padding: 0.5%;
}
body{
    text-align: center;
}
div{
    display: inline-block;
    width: 49%;
    margin-bottom: 1%;
}

/*Unidad 2*/
.ud02{
    width: 100%;
    margin-bottom: 1%;
}

/*Unidad 3*/
.ud03{
    width: 100%;
    margin-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.ud03 td:first-child{
    text-align: left;
}
.ud03 td:nth-child(2){
    text-align: center;
    padding-right: 15%;
}
.ud03 td:nth-child(3){
    text-align: right;
}

/*Unidad 4*/
.ud04{
    width: 100%;
}

/*Links*/
a:hover{
    color: red;
}
a:visited{
    color: royalblue;
}
a:link{
    color: magenta;
}




/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 ene. 2021, 20:12:40
    Author     : Clase
*/

