/*Limpieza de estilo*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*Fuentes*/
@font-face{
    font-family: Inconsolata;
    src: url(../fonts/Inconsolata/Inconsolata-Regular.ttf);
}
@font-face{
    font-family: InconsolataLight;
    src: url(../fonts/Inconsolata/Inconsolata-Light.ttf);
}
@font-face{
    font-family: InconsolataBlack;
    src: url(../fonts/Inconsolata/Inconsolata-Black.ttf);
}
*{
    font-family: Inconsolata, monospace;
}

/*General*/
.strikethrough{
    text-decoration: line-through;
}

/*Fondo*/
body{
    background-color: gainsboro;
    background-image: url(../images/fondocebra_claro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*Header*/
div.header{
    background-color: black;
    text-align: center;
    
}
img.github, img.rss{
    width: 50px;
    margin: 0.25% 0.75%;
}
img.github{
    filter: invert(100);
}

/*Título*/
h1{
    font-family: InconsolataBlack;
    text-align: center;
    padding: 1%;
    
}

/*Subtítulos y Unidades*/
body{
    text-align: center;
}
div.unidad{
    width: 49.5%;
    margin: auto;
    background: rgb(255,255,255,0.75);
    padding: 1%;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 1%;
}
table.tabla{
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}
table.tabla caption{
    font-weight: bold;
    font-size: large;
    padding: 0.5%;
    box-sizing: border-box;
}

/*Links*/
a:hover{
    color: red;
}
a:visited{
    color: royalblue;
}
a:link{
    color: magenta;
}

/*Desplegable*/
.collapsible {
    font-weight: bold;
    cursor: pointer;
    font-size: large;
    padding: 2%;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
}
.active, .collapsible:hover {
    background-color: black;
    color: white;
}
.content{
    display: none;
    overflow: hidden;
}